{{ define "trendThumbnail/index.tmpl" }}
<!--https://blog.csdn.net/zhoupenghui168/article/details/128996683-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/trendThumbnail/index.css">
</head>
<body>
{{template "trendThumbnail/bar.html" .}}
</body>
</html>
{{end}}